# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Editors
.vscode/
.idea/
*.swp

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env
.env
.env.local

# Build output
dist/
build/

.dev-server.log
